<!-- start custom head snippets -->
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn1.lncld.net/static/js/3.4.1/av-min.js"></script>
<script src="/assets/js/jquery.lazyloadxt.min.js"></script>
<script src="/assets/js/jquery.lazyloadxt.extra.min.js"></script>
<script>
  $(function() {
    AV.init({
      appId: '{{ site.pageview.leancloud.app_id }}',
      appKey: '{{ site.pageview.leancloud.app_key }}'
    });
    $(".js-pageview").each(function() {
      var curId = this.id;
      var query = new AV.Query('{{ site.pageview.leancloud.app_class }}');
      query.equalTo('key', curId.substr(9));
      query.first().then(function(result) {
        if (result) {
          $('#' + curId).text(result.attributes.views);
        }
      }, function(error) {
        if (error) {
          throw error;
        }
      });
    });

    {%- if page.key and site.pageview.leancloud.app_id and site.pageview.leancloud.app_key and site.pageview.leancloud.app_class -%}
    var query = new AV.Query('{{ site.pageview.leancloud.app_class }}');
    query.equalTo('key', '{{ page.key }}');
    query.first().then(function(result) {
      if (result) {
        addOne(result)
      } else {
        var Blog = AV.Object.extend('{{ site.pageview.leancloud.app_class }}');
        var blog = new Blog();
        blog.set('title', '{{ page.title }}');
        blog.set('key', '{{ page.key }}');
        blog.set('views', 0);
        blog.save().then(function(page) {
          addOne(page)
        }, function(error) {
          if (error) {
            throw error;
          }
        });
      }

      function addOne(page) {
        page.increment('views', 1);
        page.save(null, {
          fetchWhenSave: true
        }).then(function(page) {
          $("#post-key-{{ page.key }}").text(page.attributes.views);
        }, function(error) {
          if (error) {
            throw error;
          }
        });
      }
    }, function(error) {
      if (error) {
        throw error;
      }
    });
    {%- endif -%}
  });
</script>
<!-- end custom head snippets -->
