<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch-theme-algolia.min.css">
<base href="/">

<script>
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}',
  searchParameters: {
    attributesToRetrieve: [
      "title",
      "tags",
      "date",
      "slug",
      "category",
      "url"
    ]
  },
  searchFunction: function(helper) {
    if (helper.state.query === '') {
      $('#search-hits').html('');
      return;
    }
    helper.search();
  }
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }

  let title = '';
  if (hit._snippetResult.title) {
    title = hit._snippetResult.title.value;
  }
  else if (hit.titles) {
    const lang = $('html').attr('lang');
    title = hit.titles[lang];
  }

  const url = hit.url;
  const content = hit._snippetResult.html.value;

  let tags_html = '';
  if (hit.tags) {
    const tags = hit.tags;
    for (let i = 0; i < tags.length; i++) {
      tags_html += `<li><a class="round-rect-button" href="/all.html?tag=${tags[i]}">${tags[i]}</a></li>`;
    }
  }

  return `
    <article>
      <h1><a href=".${url}" target="_blank">${title}</a></h1>
      <div class="m-article-content">${content}</div>
      <div class="m-article-data clearfix">
        <ul class="inline-list tag-wrapper">${tags_html}</ul>
        <div class="other-wrapper">
          <div class="date-wrapper">
            <span class="article-meta">${date}</span>
          </div>
        </div>
      </div>
    </article>
  `;
}

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: '請輸入搜尋關鍵字'
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

search.start();
</script>

<style>
  .ais-Highlight{
    background: gold;
    font-style: normal;
    text-decoration: overline;
  }
  .ais-search-box {
    max-width: 100%;
  }
  .ais-hits.ais-hits__empty {
    margin-top: 1rem;
  }
</style>
