{% assign _content = page.text | strip_html | newline_to_br | strip_newlines %}
{% assign _content = _content | replace: '<br />', '</p><p>' %}
{% assign _endings = "。 ， ？ ！ ） 」" | split: " " %}
{% for _element in _endings %}
  {% capture _from %}{{ _element }}{% endcapture %}
  {%- if _element == '，' -%}
    {% capture _to %}</p><p>{% endcapture %}
  {%- else -%}
    {% capture _to %}{{ _element }}</p><p>{% endcapture %}
  {%- endif -%}
  {% assign _content = _content | replace: _from, _to %}
{% endfor %}
{% assign _content = _content | replace: '<p></p>', "" %}
<div class="post-algolia-index"><p>{{ _content }}</p></div>
