<meta property="og:site_name" content="{{ site.title }}" />
{%- include snippets/page-title.html -%}
<meta property="og:title" content="{%- if __return -%}{{ __return }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:url" content="{%- include snippets/page-url.html -%}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/assets/images/basher.jpg" />
