/**
 * Reset some basic elements
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin: $base-font-size / 2 0;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: #eee;
}
.video-container:before {
  content: "影片載入中，請稍候...";
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
   ::-moz-selection {
    background: $select-color;
  }
   ::-webkit-selection {
    background: $select-color;
  }
   ::selection {
    background: $select-color;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-width: 0;
  font-size: $base-font-size;
}

hr {
  border: 0 solid $border-color;
  border-top-width: 2px;
  margin: $base-font-size 0;
}
